.border-bottom{ 
    border-bottom: 1px solid #cfcfcf;
}

.pagination li.active{
    background-color: #ffe57f;
}

.pagination li.active a{
    color: #000080;
}
[type="checkbox"]:checked + span:not(.lever)::before {
    border-right: 2px solid rgb(238, 201, 54);
    border-bottom: 2px solid rgb(238, 201, 54);
}

.noScrollDropdown > .Dropdown-menu {
    max-height: 300px;
}