@media screen and (max-width: 768px) {
  .graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .scroll-menu {
    display: none;
  }
}

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #ffe57f; /* Just change the color value and that's it*/
}

.hidden{
  display: none;
}

.recipe_look{
  margin-top: 10px;
  font-size: 1.5em; 
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 5px;
}

.highlight{
  background-color: #fdeba0;
}

.numberCircle {
  display:inline-block;
  line-height:0px;
  
  border-radius:50%;
  border:2px solid #ffe57f;
  margin-right:8px;
  
  font-size:16px;
}

.numberCircle span {
  display:inline-block;
  
  padding-top:50%;
  padding-bottom:50%;
  
  margin-left:8px;
  margin-right:8px;
}

a {
  color: #000080;
}

.section{
  padding-bottom: 0.5rem 
}

.backSearch {
  display:inline-block;
  line-height:0px;
  
  border-radius:50%;
  border:2px solid #ffe57f;
  margin-right:8px;
  
  font-size:16px;
}

.backSearch span {
  display:inline-block;

  padding-top:50%;
  padding-bottom:50%;

  margin-left:8px;
  margin-right:8px;
}

td, th {
  padding: 5px;
}

thead > tr {
  background-color: #f2f2f2;
}

tbody > tr {
  background-color: #edfced;
}

tbody > .bad-nutrient {
  background-color: #fce8e8;
}

tbody > .good-nutrient > td {
  color: #1ba101;
}

tbody > .bad-nutrient > td {
  color: #ff1255;
}

tbody > .protein-row {
  background-color: #e5f2ff;
}

tbody > .fat-row {
  background-color: #fce8e8;
}

tbody > .carbs-row > .macronutrient {
  color: #1ba101;
}

tbody > .protein-row > .macronutrient {
  color: #1282fe;
}

tbody > .fat-row > .macronutrient {
  color: #fb0206;
}

tbody > .macro-total-score-row {
  background-color: #f2f2f2;
}