/* label focus color */
.input-field input[type=text]:focus + label {
    color: #ffefad;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ffefad;
    box-shadow: 0 1px 0 0 #ffefad;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #ffefad;
    -webkit-box-shadow: 0 1px 0 0 #ffefad;
    box-shadow: 0 1px 0 0 #ffefad;
}